<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f5f5f5;
        margin: 0;
    }

    .label_text {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-content: center;

    }

    .form_field {
        margin: 2px;
        padding: 10px;
    }

    .send_button {
        background: #1a73e8;
        display: flex;
        margin: 0 auto;
    }
        

</style>
<body>
    
    <div class="container-fluid"> 
        <h2>Вход для писателя</h2>
        <div class="text-center my-6">
            <input type="email" class="form_field" class="form-control" placeholder="Адресс эл. почты">
        </div>
        <div class="text-center my-6">
            <input type="password" class="form_field" class="form-control" placeholder="Пароль">
        </div>
        <div class="text-center my-6">
            <input type="text" class="form_field" class="form-control" placeholder="Организация">
        </div>
        <div class="text-center my-6">
            <button type="button" class="send_button" class="btn btn-primary">Отправить</button>
        </div>
    </div>

</body>
</html>


<!-- 
<div class="input_field">
    <h2>Входит пользователся: Писатель</h2>
        <input placeholder="Адресс эл. почты" class="input_field">
    <br>
        <input placeholder="Пароль" class="input_field">
    <br>
        <input placeholder="Организация" class="input_field">
    <br>
        <button class="entry_buttom">Войти</button>
    </div> -->